@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("./background.png");
  background-color: rgb(72, 60, 30);
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1023px;
  margin: 0 auto;
}

/* HEADER */

header {
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  list-style: none;
  text-decoration: none;
  color: rgb(255, 255, 255, 1);
}

a:hover {
  color: rgb(242, 101, 34, 1);
}

.view:hover {
  color: #302f2f;
  transition: 0.75s;
}

.hidden:hover {
  color: #302f2f;
  transition: 0.75s;
}

.logo {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255, 1);
}

svg {
  width: 53px;
  height: 47px;
  fill: currentColor;
}

.text {
  color: currentColor;
  margin-bottom: -6px;
}

.logo:hover {
  color: rgb(242, 101, 34, 1);
}

.milan {
  padding-left: 8px;
  font-weight: 700;
  font-size: 29px;
  line-height: 29px;
}

.holidays {
  padding-left: 8px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
}

.email {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.phone {
  padding-top: 16px;
  padding-left: 73px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

/* MAIN SECTION */

.grid {
  margin-top: 17px;
  display: grid;
  width: 1023px;
  height: 560px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 58px 62px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

img {
  width: 300px;
  height: 220px;
}

.tour-name {
  font-size: 18px;
  font-weight: 400;
  color: aliceblue;
}

/* HIDDEN BLOCK */

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.hidden-block {
  width: 100%;
  height: 55px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px 12px;
  bottom: 0;
  color: white;
  background-color: #f26522;
  bottom: -55px;
  transition: 0.75s ease-in-out;
}

.item:hover .image-wrapper .hidden-block {
  bottom: 0;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 10px;
  line-height: 10px;
}

.amount {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.details {
  position: relative;
  padding-top: 20px;
  padding-right: 37px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.details::after {
  position: absolute;
  margin-top: 2px;
  margin-left: 22px;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-right: 1px solid #ffff;
  transform: rotate(45deg);
}



/* FOOTER */

footer {
  margin-top: 70px;
  color: aliceblue;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  justify-content: center;
}
